<table>
    <tr>
        <th>&nbsp;</th>
        <th>Understøttet</th>
        <th>Fjernbetjening</th>
        <th>Controller</th>
        <th>Anden controller</th>
    </tr>
    {% assign _items = include.items | sort_natural: 'name' %}
    {% for item in _items %}
    <tr>
        <td>
        {% if item.homepage.size > 0 %}
            {% include link.html href=item.homepage title=item.homepage_title anchor=item.name %}
        {% elsif item.app_link.size > 0 %}
            {% include link.html href=item.app_link title=item.app_link_title anchor=item.name %}
        {% else %}
            {{ item.name }}
        {% endif %}
        </td>
        <td>{% include state.html val=item.app %}</td>
        <td>{% include state.html val=item.remote_control %}</td>
        <td>{% include state.html val=item.controller %}</td>
        <td>{% include state.html val=item.other_controller %}</td>
    </tr>
    {% endfor %}
</table>
