<h3 id="about_nvidia_shield">NVIDIA Shield og NVIDIA Shield Pro</h3>
<p>NVIDIA Shield og NVIDIA Shield Pro leveres med Android TV og en kraftig CPU. NVIDIA fokusere på at levere en boks som er velegnet til brug som TV, media og spille konsol.</p>

<h3 id="about_android_tv">Android TV</h3>
<p>Android TV er en udgave af Android der har fokus på at være et brugervenligt operativsystem til TV. Android TV udvikles af Google og fås på mange typer enheder. Enhederne kan dog variere i ydeevne.</p>

<h3 id="about_chromecast">Chromecast</h3>
<p>Det indbyggede Chromecast i Android TV virker med alle Android og Apple enheder. Årsagen til dette er fordi Chromecastens funktionalitet er indbygget i appsene, hvor f.eks. AirPlay er indbygget i Apples operativsystem (IOS). Du kan derfor typisk benytte dig af Chromecast på alle enheder, hvis appen tilbyder Chromecast. Chromecast virker til gengæld ikke særlig godt med private billeder og optagelser.</p>

<h3 id="about_dlna">DLNA</h3>
<p>DLNA er et system som bruges bl.a. til at dele billeder, lyd og videoer på et lokalnetværk. Udover at DLNA kan dele indhold på et lokalnetværk, kan DLNA også modtage streames. Det vil sige, at man kan sende f.eks. et videoklip til et TV eller en anden enhed. Herefter vil TV’et eller enheden afspille videoen. DLNA er understøttet af de fleste smart TV i dag, men TV med Android TV kræver at der installeres en ekstra app. - Jeg har købt "AirPlay/DLNA Receiver (PRO)".</p>

<h3 id="about_samba">SAMBA</h3>
<p>SAMBA er et fildeling system som er udviklet af Microsoft til at dele filer på et lokalnetværk. NVIDIA Shield leveres med en indbygget SAMBA klient. Under indstillinger tilføjes en eller flere faste netværksplaceringer, som derefter bliver opfattet som en eller flere lokale mapper med indhold. På denne måde kan filerne benyttes af apps, som om de ligger lokalt på NVIDIA Shield enheden.</p>

<h3 id="about_airplay">AirPlay</h3>
<p>NVIDIA Shield har ikke en indbygget AirPlay modtager og leveres ikke med en præinstalleret app. Derfor er det nødvendigt at smide lidt penge efter en app, som kan funger som en AirPlay modtager. Jeg selv har købt "AirPlay/DLNA Receiver (PRO)", som virker med private billeder og optagelser. Derudover virker den som regel med lyd (AirPlay audio). Desværre virker den typisk ikke, hvis en film er beskyttet.</p>
